<ul class='list-unstyled text-center'> 
  <li><h1 class='text-center'><i class='glyphicon glyphicon-search'></i> INSCREVA-SE</h1></li>
  <li class='text-center'><p>Inscreva-se no nosso processo seletivo.</p></li>
  <li><hr></li>
</ul>

<%= render 'form', subscription: @subscription %>
<%= link_to 'Back', subscriptions_path, class: 'btn btn-default btn-lg top pull-left' %>
